In [2]:
import pandas as pd
import matplotlib.pyplot as plt

from darts.models import LightGBMModel

In [4]:
absences_df = pd.read_csv('../../data/processed/absences_count.csv')
absences_df

        Unnamed: 0        date  count
0                0  2020-01-17      1
1                1  2020-01-18      1
2                2  2020-01-17      1
3                3  2020-01-18      1
4                4  2020-01-20      1
...            ...         ...    ...
302000      302000  2022-11-29      1
302001      302001  2022-11-30      1
302002      302002  2022-12-01      1
302003      302003  2022-12-02      1
302004      302004  2022-12-03      1

[302005 rows x 3 columns]

In [5]:
plt.plot(absences_df)

NameError: name 'plt' is not defined