In [1]:
import pandas as pd
import numpy as np
from datetime import date
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from mlxtend.plotting import plot_decision_regions
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [6]:
weather_df = pd.read_csv("../../data/external/weather_wuerz.csv", delimiter=',')
new_df = pd.read_csv("../../data/interim/absences_per_day.csv", delimiter=',')

In [7]:
# select column moonphase and datetime from weather_df
weather_df = weather_df[['moonphase', 'datetime']]
weather_df

     moonphase    datetime
0         0.58  2021-01-01
1         0.62  2021-01-02
2         0.65  2021-01-03
3         0.69  2021-01-04
4         0.72  2021-01-05
..         ...         ...
876       0.25  2023-05-27
877       0.28  2023-05-28
878       0.31  2023-05-29
879       0.35  2023-05-30
880       0.38  2023-05-31

[881 rows x 2 columns]

In [10]:
# merge weather_df and new_df where date and datetime are equal
#make datetime in weather_df to date
weather_df['datetime'] = pd.to_datetime(weather_df['datetime'])
new_df['index'] = pd.to_datetime(new_df['index'])
moon_df = pd.merge(new_df, weather_df, how='left', left_on='index', right_on='datetime')

# drop all rows with NaN values
moon_df = moon_df.dropna()
moon_df

          index  count  day_of_week  month  season  moonphase   datetime
365  2021-01-01    232            4      1       1       0.58 2021-01-01
366  2021-01-02    292            5      1       1       0.62 2021-01-02
367  2021-01-03    156            6      1       1       0.65 2021-01-03
368  2021-01-04    162            0      1       1       0.69 2021-01-04
369  2021-01-05    164            1      1       1       0.72 2021-01-05
...         ...    ...          ...    ...     ...        ...        ...
1241 2023-05-27    302            5      5       2       0.25 2023-05-27
1242 2023-05-28    121            6      5       2       0.28 2023-05-28
1243 2023-05-29    148            0      5       2       0.31 2023-05-29
1244 2023-05-30    293            1      5       2       0.35 2023-05-30
1245 2023-05-31    283            2      5       2       0.38 2023-05-31

[881 rows x 7 columns]

In [11]:
# mean of the count column
correlation = moon_df['count'].corr(moon_df['moonphase'])

print("Correlation between 'count' and 'moonphase':", correlation)

Correlation between 'count' and 'moonphase': 0.036751832932220466

In [16]:
count_average = moon_df['count'].mean()

# Filter the DataFrame to include rows where 'moonphase' is higher than 0.9
high_moonphase_df = moon_df[moon_df['moonphase'] > 0.90]

# Check if 'count' is higher than the average for high moonphases
count_higher_than_average = high_moonphase_df['count'] > count_average

# Boolean result indicating if 'count' is higher than average for high moonphases
result = count_higher_than_average.any()

print("Is count higher than average for high moonphases?", result)

Is count higher than average for high moonphases? True

In [18]:
# mean of count column
high_moon_count_avg = high_moonphase_df['count'].mean()
print('average with moon over 90% is: ', high_moon_count_avg)
print('average of count is: ', count_average)

average with moon over 90% is:  221.984375
average of count is:  219.59931895573212